cmd/addrtool/addrtool
cmd/sigtool/sigtool
cmd/sigtool/key
cmd/sigtool/key.pub
debug.test
**/*.js
**/*.js.map
.DS_Store
!**/*_test.js
**/.vscode

addrtool
!cmd/addrtool
keyaddr
!cmd/keyaddr
keytool
!cmd/keytool
sigtool
!cmd/sigtool
