cmd/addrtool/addrtool
cmd/sigtool/sigtool
cmd/sigtool/key
cmd/sigtool/key.pub
debug.test
.DS_Store
**/.vscode
*~
.#*

addrtool
!/*/addrtool
keyaddr
!/*/keyaddr
keytool
!/*/keytool
sigtool
!/*/sigtool
